<header class="d-flex gap-2 align-items-center justify-content-between">
  <div class="d-flex gap-1 flex-column">
    <h1>Jacob Osterhout</h1>
    <small>Front-End Developer</small>
  </div>
  <a
    href="https://github.com/joster-dev/"
    target="_blank"
  >
    Github
  </a>
</header>
<main class="d-flex flex-column gap-2">
  <h2>Projects</h2>
  <div class="d-flex gap-2 align-items-center">
    <jo-text
      [(ngModel)]="searchTerm"
      [isGrow]="false"
      name="searchTerm"
      placeholder="Explore..."
      class="flex-1"
    >
      Search projects
    </jo-text>
    <icon
      type="search"
      size="3em"
      [fillOpacity]="0"
    ></icon>
  </div>
  <div class="d-grid-2-col gap-2">
    <a
      *ngFor="let card of filteredCards"
      [href]="card.link"
      [title]="card.title + ' ' + cardType(card.type)"
      target="_blank"
      class="d-flex justify-content-between align-items-center"
    >
      <div class="d-flex gap-2 align-items-center">
        <icon-stack size="4em">
          <icon
            *ngFor="let iconType of card.icon"
            [type]="iconType"
            [fillOpacity]="0"
          ></icon>
        </icon-stack>
        <div class="d-flex gap-1 flex-column">
          <h3>{{card.title}}</h3>
          <div>
            <small>{{cardType(card.type)}}</small>
          </div>
        </div>
        <span class="card-type">
          {{card.type}}
        </span>
      </div>
    </a>
    <button
      *ngIf="filteredCards.length === 0"
      type="button"
      class="d-flex justify-content-between align-items-center"
      (click)="searchTerm = null"
    >
      <div class="d-flex gap-2 align-items-center">
        <icon-stack size="4em">
          <icon
            type="search"
            [fillOpacity]="0"
          ></icon>
        </icon-stack>
        <div class="d-flex gap-1 flex-column">
          <h3>No results</h3>
          <div>
            <small>Clear search</small>
          </div>
        </div>
        <span class="card-type">
          🤷
        </span>
      </div>
    </button>
  </div>
</main>
<footer class="d-flex gap-2 align-items-center justify-content-between">
  <a href="https://github.com/sponsors/joster-dev/">
    Sponsor
  </a>
  <div>
    © Jacob Osterhout 2024
  </div>
</footer>
