<header>
  <div class="d-flex flex-align-c flex-justify-sb ml mr">
    <div class="d-flex flex-align-c">
      <icon
        type="ring"
        size="4em"
        class="mr"
        [fillOpacity]="0"
        stroke="FFFFFF"
      ></icon>
      <h1>Jacob Osterhout</h1>
    </div>
    <div>
      <a
        href="https://github.com/joster-dev/"
        target="_blank"
      >
        Github
      </a>
    </div>
  </div>
</header>
<main>
  <!-- <section class="hero">
    I am a developer with a focus on creating angular web applications. Here are my application principles:
    <ul>
      <li>📱 Mobile Friendly</li>
      <ul>
        <li>should look good on phone, tablet, desktop, or 4k</li>
      </ul>
      <li>
        👨‍💻 Progressive web features
        <ul>
          <li>should be installable</li>
          <li>state should persist between user sessions</li>
        </ul>
      </li>
      <li>
        ♿ Accessible
        <ul>
          <li>should pass WCAG 2.2 AA</li>
        </ul>
      </li>
    </ul>
  </section> -->
  <h2>Projects</h2>
  <div class="d-flex flex-justify-sb flex-align-c mb">
    <fc-text
      [(ngModel)]="searchTerm"
      name="searchTerm"
      placeholder="Explore..."
      class="flex-1 mr"
    >
      Find a project
    </fc-text>
    <icon
      type="search"
      size="3em"
      [fillOpacity]="0"
      stroke="FFFFFF"
    ></icon>
  </div>
  <div class="d-grid-2-col mb">
    <a
      *ngFor="let card of cards"
      [href]="card.link"
      [title]="card.title + ' ' + cardType(card.type)"
      target="_blank"
      class="d-flex flex-justify-sb flex-align-c p-rel"
    >
      <div class="d-flex flex-align-c">
        <icon-stack size="4em">
          <icon
            *ngFor="let iconType of card.icon"
            [type]="iconType"
            [fillOpacity]="0"
            stroke="FFFFFF"
          ></icon>
        </icon-stack>
        <div class="ml">
          <h3 class="mb-0 mt-0">
            {{card.title}}
          </h3>
          <div>
            <small>{{cardType(card.type)}}</small>
          </div>
        </div>
        <span class="card-type">
          {{card.type}}
        </span>
      </div>
    </a>
  </div>
</main>
<footer class="d-flex flex-justify-r mb">
  <a
    href="https://gab.com/JacobOsterhout"
    target="_blank"
    class="mr"
  >
    Gab
  </a>
  <a
    href="https://soundcloud.com/jacob-osterhout/"
    target="_blank"
  >
    SoundCloud
  </a>
</footer>
