.secret-button {
  font-size: 100%;
  padding: 0;
  background: transparent;
  border-width: 0;
  outline: none;
  box-shadow: none;
}

.p-rel {
  overflow: hidden;
}

.card-type {
  font-size: 8em;
  position: absolute;
  right: 0;
  opacity: 0.125;
}
