.secret-button {
  font-size: 100%;
  padding: 0;
  background: transparent;
  border-width: 0;
  outline: none;
  box-shadow: none;
  color: inherit;
}

.w-md {
  max-width: 700px;
  padding: 0 1em;
  margin: 0 auto;
}
.w-lg {
  max-width: 850px;
  padding: 0 1em;
  margin: 0 auto;
}

.d-flex {
  display: flex;
}
.flex-1 {
  flex: 1;
}
.flex-justify-sb {
  justify-content: space-between;
}
.flex-align-c {
  align-items: center;
}

.card-type {
  font-size: 8em;
  position: absolute;
  right: 0;
  opacity: 0.125;
}

.d-grid-2-col {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1em;
  @media (max-width: 540px) {
    grid-template-columns: 22em;
    justify-content: center;
  }
}

#background {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: -1;
  background: linear-gradient(-45deg, #001030, #000000) 0 0 / 150% 150%;
  animation: 10s ease 0s infinite gradient;
}

.margin-bottom {
  margin-bottom: 1em;
}

.margin-left {
  margin-left: 1em;
}

.margin-right {
  margin-right: 1em;
}

jo-link,
jo-button {
  ::ng-deep a,
  ::ng-deep button {
    position: relative;
    overflow: hidden;
    padding: 1em;
    text-align: left;
  }

  h3 {
    margin-top: 0;
    margin-bottom: 0;
  }
}

@keyframes gradient {
  0%,
  100% {
    background-position: 0% 0%;
  }
  50% {
    background-position: 50% 50%;
  }
}
