/* You can add global styles to this file, and also import other style files */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  background: linear-gradient(45deg, #000000, #002470) 0 0 / 500vh 500vh;
  animation: 10s ease 0s infinite gradient;
  color: white;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

@keyframes gradient {
  0%,
  100% {
    background-position: 0 50%;
  }
  50% {
    background-position: 50% 50%;
  }
}

.p-rel {
  position: relative;
}

.d-ib {
  display: inline-block;
}
.d-flex {
  display: flex;
}
.flex-1 {
  flex: 1;
}
.flex-justify-sb {
  justify-content: space-between;
}
.flex-align-c {
  align-items: center;
}
.flex-justify-r {
  justify-content: flex-end;
}
.flex-wrap {
  flex-wrap: wrap;
}

.mr {
  margin-right: 1em;
}
.ml {
  margin-left: 1em;
}
.mb {
  margin-bottom: 1em;
}
.mb-0 {
  margin-bottom: 0;
}
.mt-0 {
  margin-top: 0;
}

.d-grid-2-col {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1em;
}

a {
  text-decoration: none;
  color: inherit;
  padding: 1em;
  border-width: 0.2em;
  border-style: inset;
  border-color: white;
  border-radius: 0.5em;
  display: inline-block;

  transition: all 0.5s ease-in-out;
  &:active,
  &:hover {
    border-style: outset;
    box-shadow: 0.2em 0.2em 0.4em 0 black;
  }
  &:link {
    border-color: #20a;
  }
  &:visited {
    border-color: #609;
  }
}
